.container {
    width: 100%;
    height: auto;
}

.subcontainer {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.current {
    width: 100%;
    height: auto;
    padding: 0;
}

.extendido {
    width: auto;
    margin: 0px 80px;
    margin-top: 40px;
    border-top: 1px solid rgba(256,256,256,1);
}

.extendido button {
    font-size: 20px;
    background-color: transparent;
    color: yellow;
    margin-right: 30px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}




@media (min-width: 630px) and (max-width: 960px) {

    .extendido {
        margin: 0px 30px;
        margin-top: 60px;
    }
    
    .extendido button {
        font-size: 16px;
        color: yellow;
        margin-right: 20px;
    }
}



@media (max-width: 629px) {
    
    .extendido {
        width: auto;
        margin: 0px 10px;
        padding-top: 25px;
        border-top: 1px solid rgba(256,256,256,.4);
    }
    
    .extendido button {
        font-size: 18px;
        font-weight: 400;
        color: yellow;
        padding: 0;
        margin-right: 20px;
        margin-top: 0;
        border: none;
    }
}