#root {
  width: 100vw;
  min-height: 100vh;
  color: rgba(256, 256, 256, 1);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, .4);
  backdrop-filter: blur(2px);
} 

body {
  margin: 0;
  padding: 0;
  font-family: 'montserrat', sans-serif;
  background-color: yellow;
  background-image: url('../public/bbg.jpeg');
  background-size: cover;
  background-position: center;
  color: yellow;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  letter-spacing: .6px;
}




