.container {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.container label {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

.container input {
    width: 160px;
    height: 30px;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    background-color: rgba($color: #fff, $alpha: 0.8);
    border: 1px solid #222;
    outline: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-left: 10px;
    padding: 0px 5px;
}

.container input::placeholder {
    font-size: 14px;
    color: rgba($color: #000000, $alpha: 0.8);
    padding: 5px;
}

.container button {
    width: auto;
    height: 31px;
    font-size: 14px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #ff0000;
    cursor: pointer;
    border: none;
    padding: 0px 8px;
}

.container button:hover {
    background-color: #000000;
}





@media (min-width: 630px) and (max-width: 960px) {
    .container {
        flex-wrap: nowrap;
    }
    
    .container label {
        font-size: 14px;
    }
    
    .container input {
        font-size: 14px;
        margin-left: 6px;
    }
    
}


@media (max-width: 629px) {

    .container {
        width: 100%;
        flex-direction: column;
        justify-content: start;
        padding: 0;
        margin: 0;
        margin-top: 25px;
    }
    
    .container label {
        width: 100%;
        font-size: 18px;
        font-weight: 400;
        padding-left: 12px;
        color: rgba(256,256,256,.7);
    }
    
    .container input {
        width: 200px;
        height: 30px;
        font-size: 16px;
        font-weight: 400;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        margin-top: 13px;
        margin-left: 6px;
        padding: 0;
        background-color: transparent;
        color: #fff;
        border: none;
        border-bottom: 1px solid rgba(256,256,256,.7);
    }
    
    .container input::placeholder {
        font-size: 16px;
        padding: 0px;
        color: rgba(256,256,256,.6);
    }
    
    .container button {
        width: auto;
        height: auto;
        font-size: 16px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        background-color: rgba(256,256,256,.7);
        color: red;
        cursor: pointer;
        border: none;
        padding: 7px 12px;
    }
    
    .container button:hover {
        background-color: rgba(256,256,256,.7);
    }
}