.container {
    width: auto;
    height: auto;
}

.boxContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    padding: 0;
    padding-top: 30px;
    padding-left: 20px;
    margin: 0;
}

.box {
    width: auto;
    height: auto;
    text-align: center;
    padding: 10px;
    margin: 0px 40px;
    border-radius: 6px;
}

.box h2 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 300;
}

.box img {
    margin: 0;
    padding: 0;
}

.box p {
    margin: 0;
    padding: 0;
    padding-bottom: 7px;
    color: #a0a0a0;
}

.box p span {
    color: #fff;
}










@media (min-width: 630px) and (max-width: 960px) {


   .box {
        margin: 0px 24px;
   }   

    .box h2 {
        font-size: 18px;
    }
    
    .box p {
        font-size: 12px;
        margin: 0;
        padding: 0;
        padding-bottom: 7px;
        color: #a0a0a0;
    }
    
    .box p span {
        color: #fff;
    }
}



@media (max-width: 629px) {

    .container {
        padding-bottom: 40px;
    }
    
    .boxContainer {
        width: auto;
        height: auto;
        display: flex;
        flex-wrap: nowrap;
        justify-content: start;
        align-items: stretch;
        overflow-x: scroll;
        padding: 0;
        padding-top: 30px;
        margin: 0;
    }

    .boxContainer::-webkit-scrollbar {
       display: block;
       width: 40px;
       color: yellow;
    }
    
    .box {
        width: 160px;
        height: auto;
        text-align: center;
        padding: 0px;
        margin: 0;
        margin-right: 0px;
        border-radius: 0px;
    }
    
    .box h2 {
        font-size: 17px;
        color: #fff;
        padding: 0;
        margin: 0;
        font-weight: 300;
        text-align: center;
    }
    
    .box img {
        width: 60%;
        margin: 0px auto;
        position: relative;
        top: -10px;
    }
    
    .box p {
        width: 160px;
        font-size: 14px;
        margin: 0;
        padding: 0;
        padding-bottom: 10px;
        color: #a0a0a0;
        position: relative;
        top: -25px;
    }
    
    .box p span {
        font-size: 16px;
        color: #fff;
    }
    
    
}